@import '../variables.scss';

.main-app {
  padding: 0 2rem;

  &__container {
    @include shadow-lg;
    background-color: $color-background;
    border-radius: $border-radius-sm;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
  }

  @media screen and (min-width: $breakpoint-md) {
    padding: 0;

    &__container {
      border-radius: $border-radius-md;
      width: 750px;
    }
  }
}