@import '../variables.scss';

.todo-list {
  $parent: &;
  padding: 3rem;

  li {
    list-style-type: none;
    margin: 0 0 2rem 0;
    position: relative;
    z-index: 1;
  }

  &__todo {
    background-color: $color-tertiary;
    border-radius: $border-radius-sm;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    width: 100%;
  }

  &__edit {
    align-items: center;
    background: linear-gradient($color-primary-main, $color-primary-alt);
    background-color: $color-primary-main;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
  }

  &__edit-icon {
    height: 20px;
    margin: 0.5rem 0;
    width: 20px;
  }

  &__content {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  &__info {
    align-items: center;
    background-color: $color-quaternary;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }

  &__editing-bay {
    background-color: $color-quinary;
    border-radius: 0 0 $border-radius-sm $border-radius-sm;
    display: flex;
    flex-flow: column;
    height: 0px;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 1rem;
    position: relative;
    transform: translateY(-50px);
    transition: transform 0.5s ease, height 0.1s ease, padding 0.5s ease;
    z-index: -1;

    &.active {
      height: 90px;
      padding: 2rem 1rem 1rem;
      transform: translateY(-15px);
      transition: transform 0.5s ease, height 0.1s ease, padding 0.2s ease;
    }
  }

  &__editing-input {
    background-color: $color-tertiary;
    border: 0;
    border-radius: $border-radius-md;
    box-sizing: border-box;
    color: #fff;
    margin-right: 1rem;
    padding: 0.75rem 2rem;
    width: 100%;
  }

  &__button {
    border: 0;
    border-radius: $border-radius-md;
    background: linear-gradient($color-secondary-main, $color-secondary-alt);
    background-color: $color-secondary-main;
    color: #fff;
    padding: 0.75rem 2rem;
    width: 150px;
  }

  @media screen and (min-width: $breakpoint-md) {
    justify-content: space-between;

    &__todo {
      flex-flow: row;
      flex-wrap: nowrap;

      &:hover {
        @include shadow-lg;
        transform: translateY(-5px);

        #{$parent}__edit {
          width: 75px;
        }
      }
    }

    &__edit-icon {
      cursor: pointer;
      transition: transform 0.1s ease;

      &:hover {
        transform: scale(1.4);
      }
    }

    &__edit {
      flex-flow: column;
      justify-content: center;
      flex: 0 0 auto;
      overflow: hidden;
      padding: 1rem 0;
      transition: width 0.1s ease;
      width: 0px;
    }

    &__content {
      flex: 1 1 auto;
      justify-content: flex-start;
    }

    &__info {
      flex: 0 0 auto;
      width: 150px;
    }

    &__editing-bay {
      flex-flow: row;

      &.active {
        height: 40px;
      }
    }

    &__editing-input {
      background-color: $color-tertiary;
      border: 0;
      border-radius: $border-radius-md;
      box-sizing: border-box;
      color: #fff;
      margin-right: 1rem;
      padding: 0.75rem 2rem;
      width: 100%;
    }

    &__button {
      border: 0;
      border-radius: $border-radius-md;
      background: linear-gradient($color-secondary-main, $color-secondary-alt);
      background-color: $color-secondary-main;
      cursor: pointer;
      color: #fff;
      padding: 0.75rem 2rem;
      transition: width 0.2s ease;
      width: 150px;

      &:hover {
        width: 200px;
      }
    }
  }
}